.searchAdd{
    display: flex;
    justify-content: space-between;
}
.tableInfo {
    margin-top: 130px;
}
.searchContainer {
    max-height: 550px;
    overflow: scroll;
}
.loginContainer {
    width: 500px;
    margin: 200px auto;
}
.loginContainer > input {
    margin-bottom: 10px;
}
.submit {
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.logout {
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
}